<div class="slider-industrial">
  <div class="slides" #slidesContainer>
    <div class="slide" *ngFor="let slide of slides; let i = index" [ngClass]="{'active': currentSlide === i}"
      [style.background-image]="slide.image ? 'url(http://localhost:5000/' + slide.image + ')' : ''">
      <div class="slide-content">
        <h2>{{ slide.title }}</h2>
        <p>{{ slide.description }}</p>
        <a *ngIf="slide.buttonText && slide.buttonText.trim() !== ''" href="#" class="btn">{{ slide.buttonText }}</a>
      </div>
      <div class="slide-header" *ngIf="isAdmin">
        <button class="delete-btn" (click)="deleteSlide(slide._id)">✖</button>
        <button class="edit-btn" (click)="editSlide(slide)">✎</button>
      </div>

      <video *ngIf="slide.isVideo" #videoPlayer muted>
        <source [src]="slide.srcUrl ? 'http://localhost:5000/' + slide.srcUrl : ''" type="video/mp4">
      </video>
    </div>
  </div>
  <div class="slider-nav">
    <button class="nav-btn prev-btn" (click)="prevSlide()" [disabled]="currentSlide === 0">❮</button>
    <button class="nav-btn next-btn" (click)="nextSlide()" [disabled]="currentSlide === slides.length - 1">❯</button>
  </div>
  <div class="slider-indicators">
    <span class="indicator" *ngFor="let slide of slides; let i = index" [ngClass]="{'active': currentSlide === i}"
      (click)="goToSlide(i)"></span>
  </div>
</div>

<div class="admin-actions" *ngIf="isAdmin">
  <button class="btn-admin-add" (click)="addSlide()">Добавить слайд</button>
</div>

<div *ngIf="modalVisible && selectedSlide" class="modal-overlay">
  <div class="modal-content">
    <h2>{{ selectedSlide._id ? 'Редактировать' : 'Добавить' }} слайд</h2>

    <div class="form-group">
      <label>Тип слайда</label>
      <select [(ngModel)]="selectedSlide.isVideo" (change)="onTypeChange()">
        <option [value]="false">Изображение</option>
        <option [value]="true">Видео</option>
      </select>
    </div>

    <div class="form-group" *ngIf="selectedSlide.isVideo">
      <label>Видео</label>
      <input type="file" id="slideVideo" accept="video/mp4" (change)="onFileChange($event, 'video')" />
    </div>

    <div class="form-group" *ngIf="!selectedSlide.isVideo">
      <label>Изображение</label>
      <input type="file" id="slideImage" accept="image/*" (change)="onFileChange($event, 'image')" />
    </div>

    <div class="form-group">
      <label>Заголовок</label>
      <input type="text" [(ngModel)]="selectedSlide.title" />
    </div>

    <div class="form-group">
      <label>Описание</label>
      <textarea [(ngModel)]="selectedSlide.description"></textarea>
    </div>

    <div class="form-group">
      <label>Текст кнопки</label>
      <input type="text" [(ngModel)]="selectedSlide.buttonText" />
    </div>

    <div class="modal-buttons">
      <button (click)="saveSlide()">Сохранить</button>
      <button (click)="closeModal()">Отмена</button>
    </div>
  </div>
</div>