<main class="main">
  <form class="user-form">
    <h2>Логин</h2>

    <label for="name">Имя:</label>
    <input type="text" id="name" [(ngModel)]="name" placeholder="Введите имя" class="form-input"
      [ngModelOptions]="{standalone: true}" />

    <label for="userPassword">Пароль:</label>
    <input type="password" id="userPassword" [(ngModel)]="userPassword" placeholder="Введите пароль" class="form-input"
      [ngModelOptions]="{standalone: true}" />

    <p class="error-message">{{ error }}</p>

    <button (click)="login()" class="submit-button" [disabled]="isSubmitting">
      {{ isSubmitting ? 'Загрузка...' : 'Войти' }}
    </button>

    <p class="title-text">У вас нету аккаунта?<a href="/register"> Зарегестрироваться</a></p>
  </form>
</main>