<main class="main">
  <div class="cn-header">
    <div class="logo">WaySunna</div>
    <div class="title">
      <a routerLink="/home" routerLinkActive="active">Главная</a>
      <a routerLink="/products" routerLinkActive="active">Товары</a>
      <a routerLink="/cart" routerLinkActive="active">Корзина</a>
    </div>
    <div class="autorizeshion">
      <a routerLink="/register" routerLinkActive="active" arriaCurrentWhenActive="page">Регистрация</a>
      <a routerLink="/login" routerLinkActive="active" arriaCurrentWhenActive="page">Вход</a>
    </div>
  </div>
  <router-outlet></router-outlet>
</main>