<div class="product-detail" *ngIf="product">
  <a routerLink="/" class="back-btn">← Назад</a>

  <img 
    [src]="product.image ? 'http://localhost:5000/' + product.image : 'assets/placeholder.jpg'" 
    alt="{{ product.name }}" 
    class="product-image"
  />

  <div class="product-info">
    <h2>{{ product.name }}</h2>
    
    <p class="description">{{ product.description }}</p>

    <!-- product-detail.component.html -->
<div class="price">
  <span *ngIf="product.type === 'promotion' && product.oldPrice" class="discounted-price">
    {{ product.price }}₽
    <span class="old-price">{{ product.oldPrice }}₽</span>
  </span>

  <span *ngIf="product.type !== 'promotion' || !product.oldPrice">
    {{ product.price }}₽
  </span>
</div>

    <button class="cart-btn" (click)="addToBasket()">Добавить в корзину</button>
  </div>
</div>

<div *ngIf="!product" class="not-found">Товар не найден</div>